.App {
  text-align: center;
  /* background-color: blue; */
}


html, body, #root, .App {
  height: 100%
}

#blusgold-logo {
  width: 100px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   {
    
  }
}

* {
  /* border: 1px solid red; */
}